spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "dbus-update-activation-environment" "--all"

// Noctalia v5 shell
spawn-at-startup "noctalia"

// Hypridle virranhallintaan ja lukitukseen
spawn-at-startup "hypridle"

// Peruspalvelut (polkit & leikepöytä)
spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
