binds {
    // Pääohjelmat
    Mod+Return { spawn "kitty"; }
    Mod+E { spawn "nautilus"; }

    // Ruudun manuaalinen lukitus (hyprlock)
    Mod+Shift+X { spawn "hyprlock"; }

    // Noctalia v5 pikakomennot
    Mod+Space { spawn "noctalia-shell" "ipc" "launcher" "toggle"; }
    Mod+Escape { spawn "noctalia-shell" "ipc" "session-menu" "toggle"; }
    Mod+V { spawn "noctalia-shell" "ipc" "clipboard" "toggle"; }

    // IPC Keybinds
    // Core Noctalia binds
    Mod+D { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Control+S { spawn-sh "noctalia msg settings-toggle"; }
    // Alt+Tab { spawn-sh "noctalia msg window-switcher"; }
    // Niri has a built-in window switcher you might want to try it to see which one you prefer.

    // Audio & Brightness
    // XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    // XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    // XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    // XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    // XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }

    // Äänenvoimakkuus & Media
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    // Screenshots
    // Mod+Control+S { screenshot write-to-disk=false; }
    Mod+Shift+S { screenshot; }

    // Ikkunoiden hallinta
    Mod+Q { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    // Liikkuminen (Vim-suunnat)
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-window-up; }
    Mod+J { focus-window-down; }

    // Siirtäminen
    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+J { move-window-down; }

    // Sarakekoot
    Mod+R { switch-preset-column-width; }
    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }

    // Työtilat
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }

    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }

    // Poistuminen
    Mod+Shift+E { quit; }
}
