output "DP-1" {
    mode "3840x2160@59.997"
    scale 1.5
    position x=1080 y=0
    variable-refresh-rate // on-demand=true
    focus-at-startup
    backdrop-color "#001100"
    hot-corners {
        off
    }
}

output "DP-2" {
    mode "1920x1080@60"
    scale 1.0
    transform "90"
    position x=0 y=0
    variable-refresh-rate // on-demand=true
    backdrop-color "#001100"
    hot-corners {
        top-left
    }
}

output "HDMI-A-1" {
    mode "1920x1080@60"
    scale 1.0
    position x=3640 y=135
    variable-refresh-rate // on-demand=true
    backdrop-color "#001100"
    hot-corners {
        top-right
    }
}
