layout {

    focus-ring {
        active-color   "#8bc18b"
        inactive-color "#1a231a"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#8bc18b"
        inactive-color "#1a231a"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1a231a70"
    }

    tab-indicator {
        active-color   "#8bc18b"
        inactive-color "#2f6a2f"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#8bc18b80"
    }
}

recent-windows {
    highlight {
        active-color "#8bc18b"
        urgent-color "#fd4663"
    }
}
