layout {

    focus-ring {
        active-color   "#bed0dc"
        inactive-color "#1a1f23"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#bed0dc"
        inactive-color "#1a1f23"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1a1f2370"
    }

    tab-indicator {
        active-color   "#bed0dc"
        inactive-color "#487da0"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#bed0dc80"
    }
}

recent-windows {
    highlight {
        active-color "#bed0dc"
        urgent-color "#fd4663"
    }
}
